# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Telethon session files
*.session
*.session-journal

# Virtual environments
venv/
env/
.venv/

# Firebase service account key
serviceAccountKey.json
